doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title #{site} | #{pagina}
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/tablestyle.css")
    body(class="sb-nav-fixed")
        nav(class="sb-topnav navbar navbar-expand navbar-dark bg-dark")
            a
                //- img(src="/img/frog.png" alt="logo" width=50)
            a(class="navbar-brand ps-3" href="attendances") UNFV Asistencias
            button(class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!")
                i(class="fas fa-bars")
            form(class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0") 
                //- div(class="input-group")
                //-     input(class="form-control" type="text" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="btnNavbarSearch")
                //-     button(class="btn btn-primary" id="btnNavbarSearch" type="button")
                //-         i(class="fas fa-search")
            ul(class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4")
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                        i(class="fas fa-user fa-fw")
                    ul(class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown")
                        //- li 
                        //-     a(class="dropdown-item" href="#!") Configuraciones
                        //- li
                        //-     a(class="dropdown-item" href="#!") Actividades
                        //- li
                        //-     hr(class="dropdown-divider")
                        li
                            a(class="dropdown-item" href="/logout") Cerrar sesión
        div(id="layoutSidenav")
            div(id="layoutSidenav_nav")
                nav(class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion")
                    div(class="sb-sidenav-menu")
                        div(class="nav")
                            div(class="sb-sidenav-menu-heading") Principal
                            a(class="nav-link" href="attendances") 
                                div(class="sb-nav-link-icon") 
                                    i(class="fa-solid fa-users") 
                                | Asistencias
                            //- a(class="nav-link" href="create_cliente")
                            //-     div(class="sb-nav-link-icon")
                            //-         i(class="fa-solid fa-user-tie")
                            //-     | Empleados
                            //- a(class="nav-link" href="create_cliente")
                            //-     div(class="sb-nav-link-icon")
                            //-         i(class="fa-solid fa-user-gear")
                            //-     | Usuarios
                            //- div(class="sb-sidenav-menu-heading") Negocio
                            //- a(class="nav-link" href="contrato") 
                            //-     div(class="sb-nav-link-icon") 
                            //-         i(class="fa-solid fa-file-contract") 
                            //-     | Contratos
                            //- a(class="nav-link" href="create_cliente") 
                            //-     div(class="sb-nav-link-icon") 
                            //-         i(class="fa-solid fa-money-bill") 
                            //-     | Pagos
                            //- a(class="nav-link" href="create_cliente") 
                            //-     div(class="sb-nav-link-icon") 
                            //-         i(class="fa-solid fa-satellite-dish") 
                            //-     | Servicios
                            //- div(class="sb-sidenav-menu-heading") Gráficos 
                            //-     sup Próximamente
                            //- a(class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts")
                            //-     div(class="sb-nav-link-icon")
                            //-         i(class="fas fa-columns")
                            //-     | Estadísticas
                            //-     div(class="sb-sidenav-collapse-arrow")
                            //-         i(class="fas fa-angle-down")
                            //- div(class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion")
                            //-     nav(class="sb-sidenav-menu-nested nav")
                            //-         a(class="nav-link" href="layout-static.html") Gráficos
                            //-         a(class="nav-link" href="layout-sidenav-light.html") Tablas
                    div(class="sb-sidenav-footer")
                        div(class="small") #{nombree}Loggeado como:
                        | Nombre de Usuario 
            div(id="layoutSidenav_content")
                main
                    div(class="container-fluid px-4")
                        block contenido
    
                include footer
                        
                
        

        script(src="/js/fontawesome.js") 
        script(src="/js/bootstrap.bundle.min.js")
        script(src="/js/script.js")
        
        