doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
        link(rel="stylesheet", href="/css/bootstrap.css")
        style.
            .has-before,
            .has-after {
                position: relative;
                z-index: 1;
            }
            .team::before {
                inset: 0;
                background-color: hsla(0, 0%, 12%, 0.65);
                mix-blend-mode: multiply;
                z-index: -1;
            }

            .has-before::before,
            .has-after::after {
                position: absolute;
                content: "";
            }
    body(class="bg-secondary")
        //- body(style="background-color: #FFA500;")
        div(id="layoutAuthentication")
            div.team.has-before(id="layoutAuthentication_content", style="background-image: url('/img/unfv2.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;")
                main(style="margin: 7rem;")
                    .container
                        div(class="row justify-content-center")
                            .col-lg-5
                                div(class="card shadow-lg border-4 rounded-lg mt-5")
                                    .card-header
                                        h3(class="text-center font-weight-light my-4") Control de Asistencias UNFV
                                    .card-body
                                        form(action='/validarLogin' method="POST")
                                            div(class="form-floating mb-3")
                                                input(class="form-control" id="inputUserName" name="inputUserName" type="text" placeholder="Ingrese su nombre de usuario")
                                                label(for="inputUserName") Correo
                                            div(class="form-floating mb-3")
                                                input(class="form-control" id="inputClave" name="inputClave" type="password" placeholder="Ingrese su contraseña")
                                                label(for="inputClave") Contraseña
                                            div(class="d-flex align-items-right justify-content-between mt-4 mb-0")
                                                a(class="small")
                                                button(class="btn btn-secondary" type="submit") Login
                                                
            //- .container 
            //-     div(class="row justify-content-left")
            //-     .col-lg-3
            //-         div(class="card shadow-lg border-0 rounded-lg mt-5")
            //-                         .card-header
            //-                             h6(class="font-weight-light my-4") Integrantes  
            //-                         .card-body
            //-                             p Jerry Yenque  
            //-                             p Camila Cerna 
            //-                             p Cristian Manco
            //-                             p Diego Bonifaz                         
                                            
                                       

            
            footer(class="py-4 bg-light mt-auto")
                div(class="container-fluid px-4")
                    div(class="d-flex align-items-center justify-content-between small")
                        div(class="text-muted") Copyright &copy; Universidad Nacional Federico Villareal #{actualYear}

            