table(id="datatablesSimple" class='table table-striped')
  thead
    tr
      th(rowspan="2") Código
      th(rowspan="2") Nombre
      th(colspan="2") Semana 1
      th(colspan="2") Semana 2
    tr
      th Día 1
      th Día 2
      th Día 1
      th Día 2  
  tbody 
    tr 
      td 1
      td 2
      td 3
      td 4
  script(src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous")
  script(src="js/datatables-simple-demo.js")

